ul {
  padding: 0;
  list-style: none;
  margin-left: -1ex;
}

li.language {
  margin-left: 1ex;
  margin-bottom: 4px;
  display: inline-flex;
}

.flag-icon {
  margin-right: 1ex;
}

.language-name {
  margin-right: 1ex;
}

.language-proficiency:before {
  content: "|";
  margin-right: 1ex;
}
