$horizontal-space : 1ex;

ul {
  padding: 0;
  list-style: none;
  margin-left: -($horizontal-space);
}

li.language {
  margin-left: $horizontal-space;
  margin-bottom: 4px;
  display: inline-flex;
}

.flag-icon {
  margin-right: $horizontal-space;
}

.language-name {
  margin-right: $horizontal-space;
  font-weight: bold;
}

