@import 'src/common.scss';

#resume-page {
  padding: 0;
  display: flex; flex-direction: row; justify-content: center;
  font-size: $resume-text-size;
  line-height: initial;
  letter-spacing: $resume-text-letter-spacing;
  // Min a a4 page sizes
  min-width: 21cm;
  min-height: 29.6cm;
}

#resume-page-side-column-wrapper {
  width: $side-column-width;
  background-color: $side-col-bkg-color;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

$col-padding: 1.4ex;

#resume-page-side-column {
  color: $side-col-text-color;
  padding: $col-padding;
}

#resume-page-main-column-wrapper {
  width: $main-content-width;
//   background-color: lightgrey;
}

#resume-page-main-column {
  padding: $col-padding;
}

#test {
  color: white;
  background-color: red;
  margin-top: -1.5em
}
