@import 'src/common.scss';

$col-padding-vertical: 1.4ex;
$col-padding-horizontal: 1.6ex;

#resume-page {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: arial;
  font-size: $resume-text-size;
  line-height: initial;
  letter-spacing: $resume-text-letter-spacing;
  // Min a a4 page sizes
  min-width: $a4-width;
  min-height: $a4-height;
}

#resume-page-side-column-wrapper {
  width: $side-column-width;
  background-color: $side-col-bkg-color;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $side-col-text-color;

  #resume-page-side-column {
    padding: $col-padding-vertical $col-padding-horizontal;
  }
}

#resume-page-main-column-wrapper {
  width: $main-content-width;

  #resume-page-main-column {
    padding: $col-padding-vertical $col-padding-horizontal;
  }
}

// Links Style
::ng-deep a {
  color: inherit;
  text-decoration: underline;
}


// Resume Sections common styles
::ng-deep {
  .section-head {
    @extend .centerize;
    font-size: $resume-headline-size;
    letter-spacing: $resume-headline-letter-spacing;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .content-section {
    margin-bottom: 1.5em
  }
}


// Light Resume Version Style
.light {
  #resume-page-side-column-wrapper {
    background-color: white !important;
    color: black !important;
    border-right: 1px solid $elegant-dark-blue;
    box-sizing: border-box;
  }

  ::ng-deep {
    .personalInfo-icon, .eduItem-quickInfo, .expItem-quickInfo {
        color: $elegant-dark-blue !important;
    }
    .eduItem-score, .skill-keyword {
      background-color: #036 !important;
      color: white !important;
    }
    .eduItem-info, .expItem-body, .expItem-projectSummary {
      border-left-color: $elegant-dark-blue !important;
    }
  }
}





