<div id="resume-page" class="{{style}}">
  <div *ngIf="showLeftCol()" id="resume-page-side-column-wrapper" class="left">
  <div id="resume-page-side-column">
    <div *ngFor='let section of leftSections()'>
      <app-candidate-photo *ngIf="section == 'photo'" [jsonResume]=jsonResume></app-candidate-photo>
      <app-candidate-labeling *ngIf="section == 'labeling'" [jsonResume]=jsonResume [templateConf]=templateConf [side]='"left"'></app-candidate-labeling>
      <app-candidate-summary *ngIf="section == 'summary'" [jsonResume]=jsonResume [templateConf]=templateConf [side]='"left"'></app-candidate-summary>
      <app-candidate-personal-info *ngIf="section == 'personalInfo'" [jsonResume]=jsonResume [templateConf]=templateConf [side]='"left"'></app-candidate-personal-info>
      <app-candidate-languages *ngIf="section == 'languages'"  [jsonResume]=jsonResume [templateConf]=templateConf></app-candidate-languages>
      <app-candidate-skills *ngIf="section == 'skills'" [jsonResume]=jsonResume [templateConf]=templateConf [side]='"left"'></app-candidate-skills>
      <app-candidate-experience *ngIf="section == 'experience'" [jsonResume]=jsonResume [templateConf]=templateConf [side]='"left"'></app-candidate-experience>
      <app-candidate-education *ngIf="section == 'education'" [jsonResume]=jsonResume [templateConf]=templateConf [side]='"left"'></app-candidate-education>
      <hr *ngIf="section == 'separator'" class="separator separator-section">
    </div>
  </div>
    <app-resume-version [jsonResume]=jsonResume></app-resume-version>
  </div>

  <div id="resume-page-main-column-wrapper" class="{{rightSectionAdditionalClasses()}}">
  <div id="resume-page-main-column">
    <div *ngFor='let section of rightSections()'>
      <app-candidate-photo *ngIf="section == 'photo'" [jsonResume]=jsonResume></app-candidate-photo>
      <app-candidate-labeling *ngIf="section == 'labeling'" [jsonResume]=jsonResume [templateConf]=templateConf [side]='"right"'></app-candidate-labeling>
      <app-candidate-summary *ngIf="section == 'summary'" [jsonResume]=jsonResume [templateConf]=templateConf [side]='"right"'></app-candidate-summary>
      <app-candidate-personal-info *ngIf="section == 'personalInfo'" [jsonResume]=jsonResume [templateConf]=templateConf [side]='"right"'></app-candidate-personal-info>
      <app-candidate-languages *ngIf="section == 'languages'"  [jsonResume]=jsonResume [templateConf]=templateConf></app-candidate-languages>
      <app-candidate-skills *ngIf="section == 'skills'" [jsonResume]=jsonResume [templateConf]=templateConf [side]='"right"'></app-candidate-skills>
      <app-candidate-experience *ngIf="section == 'experience'" [jsonResume]=jsonResume [templateConf]=templateConf [side]='"right"'></app-candidate-experience>
      <app-candidate-education *ngIf="section == 'education'" [jsonResume]=jsonResume [templateConf]=templateConf [side]='"right"'></app-candidate-education>
      <hr *ngIf="section == 'separator'" class="separator separator-section">
    </div>
  </div>
  </div>

</div>

<style>

    .float-action-bar-bottom{
      position:fixed;
      left:0;
      bottom: 2em;
      width: 100%;
    }
    .inner-toolbar {
      margin: auto;
      width: 21cm;
    }
    .print-resume-btn {
      display: block;
      margin-left: auto;
      margin-right: 2em;
    }
  </style>
<div class="float-action-bar-bottom centerize">
  <div class="inner-toolbar">
    <button mat-fab class="mat-fab print-resume-btn" color="accent"
      (click)="commonJs.triggerPrint()">
      <mat-icon>print</mat-icon>
    </button>
  </div>

</div>
