<div id="resume-page">
  <div id="resume-page-side-column">

    <app-candidate-photo [jsonResume]=jsonResume></app-candidate-photo>
<!--    <app-candidate-personal-info [jsonResume]=jsonResume [templateConf]=templateConf></app-candidate-personal-info>-->
    <app-candidate-summary [jsonResume]=jsonResume [templateConf]=templateConf></app-candidate-summary>

  </div>
  <div id="resume-page-main-column">

    <app-candidate-labeling [jsonResume]=jsonResume [templateConf]=templateConf></app-candidate-labeling>
    <app-candidate-summary [jsonResume]=jsonResume [templateConf]=templateConf></app-candidate-summary>

  </div>
</div>
