<mat-tab-group id="main-tab" mat-align-tabs="center">

<!--  <mat-tab label="Preview"><app-resume-page-->
<!--    [jsonResume]=jsonResume-->
<!--    [templateConf]=templateLayoutConfig-->
<!--    [style]='"buzzer"'-->
<!--  ></app-resume-page></mat-tab>-->

  <mat-tab label="Preview"><app-resume-page
    [jsonResume]=jsonResume
    [templateConf]=templateLayoutConfig
    [style]='"light"'
  ></app-resume-page></mat-tab>

  <mat-tab label="Edit Content"><app-edit-content-tab
    [inputJsonResume]=jsonResume
    (userJsonResumeChanged)="updateJsonResume($event)"
  ></app-edit-content-tab></mat-tab>

  <mat-tab label="Edit Layout"><app-edit-layout-tab
    [inputTemplateLayoutConfig]=templateLayoutConfig
    (templateLayoutConfigChanged)="updateTemplateLayoutConfig($event)"
  ></app-edit-layout-tab></mat-tab>

</mat-tab-group>
