@import 'src/common.scss';

.candidate-labeling {
  @extend .centerize-column;
}

.candidate-name {
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 5px;
  margin-top: 5px;
  text-align: center;
}

.left .candidate-name {
  font-size: 18px;
  letter-spacing: 3px;
}

.candidate-label {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 5px;
  margin-top: 10px;
  text-align: center;
}

.left .candidate-label {
  font-size: 13px;
  letter-spacing: 3px;
  line-height: 16px;
}

// TODO: Candidate Labling - Options, chose one
// .candidate-name { color: #7bafc7; font-weight: 500; }
// .candidate-name { color: #7bafc7; font-weight: 100; } .candidate-label { font-weight: 700; }
// .candidate-name { font-weight: 100; } .candidate-label { font-weight: 700; }
// .candidate-name { font-weight: 100; color: #003366;} .candidate-label { font-weight: 700; }
// .candidate-name { color: #3c3c3c; } .candidate-label { color: #3a6e87; font-weight: 500; }
// .candidate-label { color: orange; font-weight: 500; }
.candidate-label { color: #036; font-weight: 500; }


::ng-deep .buzzer .left .candidate-label {
  color: $highlight-text-color;
}
