@import 'src/common.scss';

.candidate-labeling {
  @extend .centerize-column;
}

.candidate-name {
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 5px;
  margin-top: 5px;
  font-weight: 500; // Maybe Remove
}

.candidate-label {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 5px;
  margin-top: 15px;
}

// TODO: Candidate Labling - Options, chose one
// .candidate-name { color: #7bafc7; font-weight: 500; }
// .candidate-name { color: #7bafc7; font-weight: 100; } .candidate-label { font-weight: 700; }
// .candidate-name { font-weight: 100; } .candidate-label { font-weight: 700; }
// .candidate-name { font-weight: 100; color: #003366;} .candidate-label { font-weight: 700; }
// .candidate-name { color: #3c3c3c; } .candidate-label { color: #3a6e87; font-weight: 500; }
// .candidate-label { color: orange; font-weight: 500; }
.candidate-label { color: #036; font-weight: 500; }
