@import 'src/common.scss';

ul {
  padding: 0;
  list-style: none;
  margin-left: -10px;
}

li {
  display: inline-block;
  margin-left: 10px;
}

li .wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  margin-bottom: 4px;
}

li:last-child .wrapper {
  margin-bottom: 0;
}

.personalInfo-text {
  word-break: break-word;
  margin-left: 7px;
}

.personalInfo-icon {
  color: $highlight-text-color;
  margin-right: 1px;
  font-size: 14px;
  vertical-align: middle;
  line-height: 13px;
  position: relative;
  top: -1px;
}
.right .personalInfo-icon {
  color: $highlight-text-color-neg;
}

li {
  .fa-link, .fa-phone, .fa-id-card {
    font-size: 12px !important;
  }
}

