
.personalInfo-section .section-body li i.personalInfo-icon {
  color: orange;
  margin-right: 1px;
  font-size: 12px;
  vertical-align: middle;
  line-height: 13px;
  position: relative;
  top: -1px;
}
.personalInfo-section .section-body li .wrapper { margin-bottom: 4px; }
.personalInfo-section .section-body li span.personalInfo-text { margin-left: 7px; }
.personalInfo-section li {
  .fa-link, .fa-phone, .fa-id-card {
    font-size: 10px !important;
  }
}


// purple: #673ab7
// indigo: #3f51b5
// amber: #ffd740
// verde acqua: #006666
// orange


// Title
//     color: #3a6e87;
//     font-weight: 500;
//     color: #036;
//     /* color: #FFD740; */
//     color: #7BAFB8;
// orange: f7a000


// Oranges:
// - #f15500
// - #efa37f
// - #f18d58

// - #efb01d V
// - #ffd740
