.tab-body, .normal-flow {
  display: flex;
  width: 21cm;
  flex-direction: column;
  gap: 1ex 0;
  padding-top: 2ex;
}

.fields-row > button.mat-raised-button {
    height: 3.5em;
}

.fields-row button.mat-fab {
    flex-grow: unset !important;
    margin-top: 0.8ex;
}

.add-element-btn {
  margin-left: auto;
  margin-right: auto;
}

.fields-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0 1ex;
}

.fields-row > * {
  flex-grow: 1;
}

.fields-row > mat-form-field.field-photo {
  flex-grow: 8;
}

.fields-row > mat-form-field.skill-keyword {
  flex-grow: 3;
}


