.normal-flow {
  display: flex;
  width: 21cm;
  flex-direction: column;
  gap: 1.5ex 0;
  padding-top: 2ex;
}

.fields-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0 1ex;

  > * {
    flex-grow: 1;
  }

  > mat-form-field.field-photo {
    flex-grow: 8;
  }

  > mat-form-field.skill-keyword {
    flex-grow: 3;
  }

  > button.mat-raised-button {
      height: 3.5em;
  }
  > button.mat-fab {
      flex-grow: unset !important;
      margin-top: 0.8ex;
  }
}


.mat-raised-button {
  margin-left: auto;
  margin-right: auto;
}

