<mat-tab-group id="edit-content-tab" mat-align-tabs="center" dynamicHeight="true" class="centerize">

  <mat-tab label="Basics" >
    <div class="tab-body">

    <div class="fields-row">
    <mat-form-field appearance="fill">
      <mat-label>Candidate Full Name</mat-label>
      <input matInput [(ngModel)]="inputJsonResume.basics.name" name="fullname" required>
      <mat-hint align="start">Full Name (Incl. middle names)</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" >
      <mat-label>Candidate Role</mat-label>
      <input matInput [(ngModel)]="inputJsonResume.basics.label" name="role">
      <mat-hint align="start">Label/Role which identify you professionally. I.e. "Graphic Designer"</mat-hint>
    </mat-form-field>
    </div>

    <div class="fields-row">
      <mat-form-field appearance="fill" class="field-photo">
        <mat-label>Photo</mat-label>
        <input matInput [(ngModel)]="inputJsonResume.basics.image" name="photo">
        <mat-hint align="start">Enter an image link or upload a local picture</mat-hint>
      </mat-form-field>
      <input hidden type="file" #imgFileInput (change)="uploadPicture($event)"/>
      <button type="button" mat-raised-button color="primary" (click)="imgFileInput.click()">Upload Picture</button>
    </div>

    <div class="fields-row">
      <mat-form-field appearance="fill" >
        <mat-label>Birthday</mat-label>
        <input matInput [(ngModel)]="inputJsonResume.basics.birthday" name="birthday">
        <mat-hint align="start">It is a simple text field, choose the date format you prefer.</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill" >
        <mat-label>Nationality</mat-label>
        <input matInput [(ngModel)]="inputJsonResume.basics.nationality" name="nationality">
        <mat-hint align="start">Enter Nationality and VISA, if needed. I.e. Japanese with EU working Permit</mat-hint>
      </mat-form-field>
    </div>

    <div class="mat-divider-with-text">
      <div class="line"><mat-divider></mat-divider></div>
      <div class="text mat-typography">Contacts</div>
      <div class="line"><mat-divider></mat-divider></div>
    </div>
    <div class="fields-row">
      <mat-form-field appearance="fill" >
        <mat-label>Email</mat-label>
        <input matInput type="email" [(ngModel)]="inputJsonResume.basics.email" name="email" email="true">
        <mat-hint align="start">Enter a valid Email</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill" >
        <mat-label>Phone Number</mat-label>
        <input matInput [(ngModel)]="inputJsonResume.basics.phone" name="phone">
        <mat-hint align="start"></mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill" >
        <mat-label>Personal Website</mat-label>
        <input matInput [(ngModel)]="inputJsonResume.basics.url" name="personalWebsite">
        <mat-hint align="start"></mat-hint>
      </mat-form-field>
    </div>

    <div class="mat-divider-with-text">
      <div class="line"><mat-divider></mat-divider></div>
      <div class="text mat-typography">Current Address</div>
      <div class="line"><mat-divider></mat-divider></div>
    </div>
    <div class="fields-row">
      <mat-form-field appearance="fill" >
        <mat-label>Country</mat-label>
        <input matInput [(ngModel)]="inputJsonResume.basics.location.countryCode" name="country">
        <mat-hint align="start">Enter a Country name or abbreviation</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill" >
        <mat-label>City</mat-label>
        <input matInput [(ngModel)]="inputJsonResume.basics.location.city" name="city">
        <mat-hint align="start"></mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill" >
        <mat-label>Street</mat-label>
        <input matInput [(ngModel)]="inputJsonResume.basics.location.address" name="addressStreet">
        <mat-hint align="start"></mat-hint>
      </mat-form-field>

<!--      <mat-form-field appearance="fill" >-->
<!--        <mat-label>Postal Code</mat-label>-->
<!--        <input matInput [(ngModel)]="inputJsonResume.basics.location.postalCode" name="postalCode">-->
<!--        <mat-hint align="start"></mat-hint>-->
<!--      </mat-form-field>-->
    </div>

    <div>
      <label>Summary</label>
      <ckeditor [(ngModel)]="inputJsonResume.basics.summary" [config]="config" [readonly]="false" debounce="500">
      </ckeditor>
    </div>


  </div>
  </mat-tab>


</mat-tab-group>




<!--<div>-->
<!--  <span><b>Resume Content </b></span>-->
<!--  <input-->
<!--    style="display: none"-->
<!--    type="file" (change)="onContentFileChanged($event)"-->
<!--    #contentFileInput>-->
<!--  <button (click)="contentFileInput.click()">Load</button>-->
<!--  <button (click)="downloadJsonResumeContent()">Save</button>-->
<!--</div>-->

<!--<div>-->
<!--  <span><b>Resume Template Configuration </b></span>-->
<!--  <input-->
<!--    style="display: none"-->
<!--    type="file" (change)="onConfFileChanged($event)"-->
<!--    #confFile>-->
<!--  <button (click)="confFile.click()">Load</button>-->
<!--  <button (click)="downloadTemplateConfig()">Save</button>-->
<!--</div>-->
<!--<hr>-->


<!--<div>-->
<!--  <div>Profiles:</div>-->
<!--  <div *ngFor="let profile of inputJsonResume.basics.profiles" style="display:flex">-->
<!--    <div >-->
<!--      <label >Network: </label>-->
<!--      <input type="text" [(ngModel)]="profile.network">-->
<!--    </div>-->
<!--    <div>-->
<!--      <label >Username: </label>-->
<!--      <input type="text" [(ngModel)]="profile.username">-->
<!--    </div>-->
<!--    <div>-->
<!--      <label >Link: </label>-->
<!--      <input type="text" [(ngModel)]="profile.url">-->
<!--    </div>-->
<!--    <button (click)="removeProfile(profile)">Remove</button>-->
<!--  </div>-->
<!--  <button (click)="addNewProfile()">Add Profile</button>-->

<!--</div>-->

<!--<div>-->
<!--  <div>Attachments:</div>-->
<!--  <div *ngFor="let attachment of inputJsonResume.attachments" style="display:flex">-->
<!--    <div >-->
<!--      <label >Document Name: </label>-->
<!--      <input type="text" [(ngModel)]="attachment.label">-->
<!--    </div>-->
<!--    <div>-->
<!--      <label >Document Link: </label>-->
<!--      <input type="text" [(ngModel)]="attachment.url">-->
<!--    </div>-->
<!--    <button (click)="removeAttachment(attachment)">Remove</button>-->
<!--  </div>-->
<!--  <button (click)="addNewAttachment()">Add Document</button>-->
<!--</div>-->

<!--<div>-->
<!--  <div>Skills:</div>-->
<!--  <div *ngFor="let skill of inputJsonResume.skills" style="display:flex">-->
<!--    <div >-->
<!--      <label >Skill Category: </label>-->
<!--      <input type="text" [(ngModel)]="skill.name">-->
<!--      <button (click)="removeSkill(skill)">Remove Skill</button>-->
<!--    </div>-->
<!--    <div>-->
<!--      <label >Skill Keywords: </label>-->
<!--      <div *ngFor="let kw of skill.keywords; let i = index;">-->
<!--        <div>-->
<!--          <input  type="text" [(ngModel)]="skill.keywords[i]">-->
<!--          <button (click)="removeItem(skill.keywords, kw)">Remove Keyword</button>-->
<!--        </div>-->
<!--      </div>-->
<!--      <button (click)="addItem(skill.keywords, 'sample keyword')">Add New Keyword</button>-->
<!--    </div>-->

<!--  </div>-->
<!--  <button (click)="addNewSkill()">Add Skill</button>-->
<!--</div>-->

<!--<div>-->
<!--  <div>Languages:</div>-->
<!--  <div *ngFor="let language of inputJsonResume.languages" style="display:flex">-->
<!--    <div >-->
<!--      <label >Country Code: </label>-->
<!--      <input type="text" [(ngModel)]="language.countryCode">-->
<!--    </div>-->
<!--    <div>-->
<!--      <label >Language: </label>-->
<!--      <input type="text" [(ngModel)]="language.language">-->
<!--    </div>-->
<!--    <div>-->
<!--      <label >Fluency: </label>-->
<!--      <input type="text" [(ngModel)]="language.fluency">-->
<!--    </div>-->
<!--    <button (click)="removeItem(inputJsonResume.languages, language)">Remove</button>-->
<!--  </div>-->
<!--  <button (click)="addNewLanguage()">Add Language</button>-->
<!--</div>-->




