:host ::ng-deep mat-tab-body {
  margin-top: 2ex;
  width: 21cm;
}

::ng-deep .normal-flow {
  display: flex;
  flex-direction: column;
  gap: 1.5ex 0;
  width: 100%;

  > app-section-separator .mat-divider-with-text {
    margin-top: 0.25ex;
    margin-bottom: 0.25ex;
  }
}

.grid-2-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1ex;
  grid-row-gap: 1ex;
  width: 100%;
}

.fields-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0 1ex;

  > * {
    flex-grow: 1;
  }

  > mat-form-field.field-photo {
    flex-grow: 8;
  }

  > mat-form-field.skill-keyword {
    flex-grow: 3;
  }

  > button.mat-raised-button {
      height: 3.5em;
  }
  > button.mat-fab {
      flex-grow: unset !important;
      margin-top: 0.8ex;
  }
}

.mat-raised-button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5ex;
}



mat-expansion-panel-header {
  background-color: lightgray;
}


.label-and-field {
  display: flex;
  gap: 0 1.5ex;
  align-items: center;
    justify-content: center;

  > mat-label {
//     font-weight: bold;
  }

  > mat-form-field {
    flex-grow: 1;
  }
}
