ul {
  padding: 0;
  list-style: none;
  margin: 0
}

.skill  {
  margin-bottom: 5px;
}

.skill-name {
  font-weight: bold;
  margin-bottom: 1px;
}



// .skills-section.content-section {
//   break-inside: unset;
// }
//
// .skill {
//   break-inside: avoid;
// }

