ul {
  padding: 0;
  list-style: none;
  margin: 0
}

.skill-name {
  font-weight: bold;
}



// .skills-section.content-section {
//   break-inside: unset;
// }
//
// .skill {
//   break-inside: avoid;
// }

