// COLORS
$elegant-dark-blue: #036;
$bright-orange: orange;
$cold-orange: #efb01d;
$dark-grey: #3c3c3c;
$medium-grey: #939393;
$washed-out-yellow: #f6e884;
$cold-yellow: #eed94c;


$side-col-bkg-color: $elegant-dark-blue;
$side-col-text-color: white;

$highlight-text-color: $washed-out-yellow;
$highlight-bkg-color: $washed-out-yellow;
$highlight-text-color-neg: $elegant-dark-blue;
$highlight-bkg-color-neg: $elegant-dark-blue;

// LAYOUT
$a4-width: 21cm;
$a4-height: 29.6cm;
$side-column-width: $a4-width/3;
$main-content-width: $a4-width - $side-column-width;

// Text Style
$resume-text-size: 13px;
$resume-text-letter-spacing: 0.2px;

$resume-headline-size: 17px;
$resume-headline-letter-spacing: 3px;

/* UTILITY classes */
.centerize {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerize-column {
  @extend .centerize;
  flex-direction: column;
}

hr.separator {
  width: 100%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent, $highlight-bkg-color-neg, transparent);
  margin-bottom: 0;
  margin-top: 0;
}
.buzzer .left .separator {
  background-image: unset;
  background-color: $highlight-bkg-color;
}
.light .left .separator {
  background-image: unset;
  background-color: $highlight-bkg-color-neg;
}
hr.separator.separator-section {
  margin-top: -0.25em;
  margin-bottom: 1.2em;
}


.highlight-oval {
	border-radius: 5px;
	background-color: $highlight-bkg-color;
	display: inline-flex;
	margin-bottom: 4px;
  margin-left:4px;

  // Chode about the next styles
  font-weight: bold;
  font-size: 10px;
  line-height: 16px;
  color: black;
  padding: 0px 6px;
}
.right .highlight-oval {
  background-color: $highlight-bkg-color-neg;
  color: white;
}

.quoted-body {
  padding-left: 1ex;
  border-left: 1px solid;
  border-left-color: $highlight-text-color;
  line-height: 120%;
}
.right .quoted-body {
  text-align: justify;
  border-left-width: 2px;
  border-left-color: $highlight-text-color-neg;
}
