@import 'src/common.scss';


/* Global Rules */

html, body { height: 100%; }
body {
  margin: 0;
//   font-family: Roboto, "Helvetica Neue", sans-serif; - Roboto seems to be appearing blurry when highlighted
  -webkit-font-smoothing:antialiased;
}

@media print {
  #main-tab .mat-tab-header {
    display: none;
  }
}

div.section-head {
  @extend .centerize;
  font-size: $resume-headline-size;
  letter-spacing: $resume-headline-letter-spacing;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}

#resume-page {
    font-family: arial;
}

#resume-page-side-column div.content-section {
  margin-bottom: 1.5em
}

#resume-page-main-column div.content-section {
  margin-bottom: 1.5em
}



