@import '~flag-icon-css/css/flag-icon.min.css';
@import 'src/common.scss';


/* Global Rules */

html, body { height: 100%; }
body {
  margin: 0;
//   font-family: Roboto, "Helvetica Neue", sans-serif; - Roboto seems to be appearing blurry when highlighted
  -webkit-font-smoothing:antialiased;
}

@media print {
  #main-tab .mat-tab-header {
    display: none;
  }
  @page {
    size: A4 portrait;
    margin:0cm;
    overflow: hidden !important;
  }
  ::-webkit-scrollbar {display: none;}
}

div.section-head {
  @extend .centerize;
  font-size: $resume-headline-size;
  letter-spacing: $resume-headline-letter-spacing;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}

#resume-page {
    font-family: arial;
}

#resume-page-side-column div.content-section {
  margin-bottom: 1.5em
}

#resume-page-main-column div.content-section {
  margin-bottom: 1.5em
}

// #resume-page-main-column div.section-body {
//   text-align: center;
// }

ul {
  margin: 0;
}

.light {
  #resume-page-side-column-wrapper {
    background-color: white !important;
    color: black !important;
    border-right: 1px solid $elegant-dark-blue;
  }
  .personalInfo-icon, .eduItem-quickInfo, .expItem-quickInfo {
    color: $elegant-dark-blue !important;
  }
  .eduItem-score, .skill-keyword {
    background-color: $medium-grey !important;
    color: white !important;
  }
  .eduItem-info, .expItem-body, .expItem-projectSummary {
    border-left-color: $elegant-dark-blue !important;
  }
}
