@import '~flag-icon-css/css/flag-icon.min.css';
@import 'src/common.scss';


/* Global Rules */

html, body { height: 100%; }
body {
  margin: 0;
  -webkit-font-smoothing:antialiased;
}

ul {
  margin: 0;
  padding-left: 4ex;
}


@media print {
  #main-tab .mat-tab-header,
  .float-action-bar-bottom {
    display: none !important;
  }
  @page {
    size: A4 portrait;
    margin: 0cm;
    overflow: hidden !important;
  }
  ::-webkit-scrollbar {display: none;}
}
